
#index{
    background-image:url(./media/image2.webp);
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}
#first{
    height:500px;
    width:100%;
    top:20%;
    padding-bottom: 25%;  
    /* background-color: rgba(185, 229, 229, 0.3); */
    
}
#name{
    
    color: white;
    font-family:inherit sans-serif;
    font-size: 50px;
    font-weight:900;

    
}
#resig{
     color: white;
    font-family: monospace;
    font-size:x-large;
}


#frm1{
   position: relative;
}
.f1{
    position: relative;
}
#name2{
    color:rgb(25, 163, 156);
    font-weight: 300;
}
#main{
    display:flex;
    margin-left: 10%;
    position: relative;

}
#m1{ 
 
height: 500px;
width: 400px;
position: relative;
}
#m2{  
    
    padding-top: 50px;
height: 500px;
width: 400px;
position: relative;
}
#m3{
    height:500px;
    width:400px;
    position: relative;
}
#img2{
    border-radius: 50%;
}
#m21{
    padding-top: 15px;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: rgb(6, 6, 6);
}
#fm2{
    font-weight: 200;
    color: rgb(25, 163, 156);
    margin-left: 0%;
}
.abt{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    line-height: 25px;
    width: 250px;
    font-style: oblique;
}
.hh4{
    margin-top: 20px;
    font-family: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightslategrey;
}
.hh6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 #btn1{
  margin-top: 20px;
    width: 100px;
    background-color: rgb(3, 72, 72,0.7);
 }
 .f2{
    color: white;
    background-color: rgb(24, 23, 22);
    margin-bottom: 3px;

 }
.fh2{
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.d1{
    /* background-color: white; */
    /* padding-top: 50px; */
    height: 180px;
    width: 400px;
}
.d2{
    /* background-color: white;
    padding-top: 50px; */
    height: 180px;
    width: 400px;
}
.mrg{
    height: 1px;
    background-color: rgba(185, 227, 225, 0.955);
    
}
.gt{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    line-height: 25px;
    width: 250px;
    font-style: oblique;
}
#main2{
    display: flex;
    margin-top: 1%;
    margin-left: 25%;
}
#hh3{
    font-weight: 200;
    font-style: inherit;
    color: rgb(14, 176, 141);
    margin-left: 15px;
   

}
#hd{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(84, 177, 157);
    font-weight: 200;
}
.des{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    line-height: 25px;
    font-style: oblique;
}
.f3{
    color: white;
    background-color: rgb(55, 57, 58);
    margin-bottom: 3px;

 }

 #d5{
    margin-top: 20px;
    /* background-color: white; */
    height: 200px;
    width: 450px;
    align-items: linear;
    margin-bottom: 30px;
 }
 .checked{
    color: rgb(7, 191, 227);
 }
 #d6{
    margin-top: 10px;
    /* background-color: white; */
    height: 80px;
    width: 400px;
    align-items:4 linear;
 }
 .mrg1{
    height: 1px;
    width: 600px;
    background-color: rgba(232, 240, 239, 0.955);
    
}
#f4{
    background-color: dimgray;
}
.ts{
    color: rgb(165, 190, 239);
}
.td{
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(219, 166, 166);
}
.ddv{
    
    background-color: aqua;
    width: 50px;
    height: 150px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    position:right;
    top: 20%;
    right: 0;
    /* background-color: rgba(226, 106, 106, 0.274); */
    /* padding: 40px;
    font-size: 25px; */
    height: 300px;
    width: 50px;
  }
  button{
    width: 90px;
    height: 60px;
    background-color:rgba(88, 221, 248, 0.503);
    color:rgb(31, 156, 223);
    cursor: pointer;
    
  }
  button:hover{
    color: rgb(25, 163, 156);
    background-color: white;
    
  }